@model PagedList.IPagedList<WebApplication1.Models.Bill>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@*@model IEnumerable<WebApplication1.Models.Bill>*@

@{
    ViewBag.Title = "Index";
}

<style>
    #contentId {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        #contentId:hover {
            opacity: 0.7;
        }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @@keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 50px;
        right: 35px;
        color: #f1f1f1;
        40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* 100% Image Width on Smaller Screens */
    @@media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }

    #custom-search-input {
        padding: 3px;
        border: solid 1px #E4E4E4;
        border-radius: 6px;
        background-color: #fff;
    }

        #custom-search-input input {
            border: 0;
            box-shadow: none;
        }

        #custom-search-input button {
            margin: 2px 0 0 0;
            background: none;
            box-shadow: none;
            border: 0;
            color: #666666;
            padding: 0 8px 0 10px;
            border-left: solid 1px #ccc;
        }

            #custom-search-input button:hover {
                border: 0;
                box-shadow: none;
                border-left: solid 1px #ccc;
            }

        #custom-search-input .glyphicon-search {
            font-size: 23px;
        }
    .notbold {
        font-weight: normal
    }

    ​
</style>

<h2 style="font-family: Anton; color:#20438d">My Bills</h2>

<p>

    <a href="@Url.Action("Create")"><img src="~/Photos/file (1).png" width="40px"></a>
</p>



<p>
    @using (Html.BeginForm("Index", "Bills", FormMethod.Get))
    {
        <a style="font-family: Anton; color:#20438d">Search by Type Name: </a> <br />

        @Html.TextBox("type")

        <input type="submit" style="font-family: Anton; color:#20438d; background-color:#e1f5fe; border-color:#00ffff" value="Search" />


    }

</p>
<table class="table">
    <tr class="notbold" style=" color:#20438d">
        <th>
            @*@Html.DisplayNameFor(model => model.Content)*@
            Content
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.CreationDate)*@
            @*Creation Date*@
            @Html.ActionLink("Creation Date", "Index", new { sortOrder = ViewBag.CreationDateSortParm })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.BillDate)*@
            @*Bill Date*@
            @Html.ActionLink("Bill Date", "Index", new { sortOrder = ViewBag.BillDateSortParm })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Amount)*@
            Amount
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.BillTypeId)*@
            @*Type Name*@
            @Html.ActionLink("Type Name", "Index", new { sortOrder = ViewBag.TypeNameSortParm })
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
                User Email
            </th>*@
        <th>
            Actions
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="data:image;base64,@System.Convert.ToBase64String(item.Content)" width="50px" onclick="openModal(this)" id="contentId" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillType.TypeName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                </td>*@
            <td>
                <a href="@Url.Action("Details", new {id = item.Id})"><img src="~/Photos/details icon.png" width="24px"></a>
                <a href="@Url.Action("Edit", new {id = item.Id})"><img src="~/Photos/edit icon.png" width="24px"></a>
                <a href="@Url.Action("Delete", new {id = item.Id})"><img src="~/Photos/delete icon.png" width="24px"></a>
            </td>
        </tr>



    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


<p>

    <a style="font-family: Anton; color:#26a6d1" href="@Url.Action("BillsChart")"><img src="~/Photos/pie-chart.png" width="50px"><br />Bills Chart</a>
</p>


<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

</div>
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var modalImg = document.getElementById("img01");


    function openModal(img) {
        modal.style.display = "block";
        modalImg.src = img.src;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onkeyup = function (event) {
        if (event.keyCode == 27) {
            modal.style.display = "none";
        }
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>



